body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px 38px 1px 55px;
    margin: 0px 15px 12px 17px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/040/815/426/non_2x/ai-generated-rain-drops-on-the-window-with-bokeh-background-abstract-photo.jpeg);
    background-position: center;
    background-size: cover;
}

#calculator {
	background-image: url(https://m.media-amazon.com/images/I/31n6XdBMGsL.jpg);
	background-position: center;
    background-size: contain;
    width: 320px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    text-align: center;
}

.data {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    color: floralwhite;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
    text-align: center;
}

h1, p {
    margin-top: 0px;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    color: white;
}

input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    background: rgba(225, 225, 225, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 2px;
    color: floralwhite;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border:solid rgb(106, 120, 125);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1bb91d;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}